<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @address.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @address.surname %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @address.phoneNr %>
</p>

<p>
  <b>Address:</b>
  <%= @address.address %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
